Xft.dpi:         115
Xft.antialias:   true
Xft.rgba:        rgb
Xft.hinting:     true
Xft.autohint:    false
Xft.hintstyle:   hintfull
Xft.lcdfilter:   lcddefault

! Comand for search font:: fc-list | grep "JetBrains Mono"
*.font: xft:JetBrainsMono Nerd Font:style=Medium,Regular:size=12

Xcursor.theme: capitaine-cursors
Xcursor.size: 24

! Settings for Urxvt terminal
URxvt.scrollBar: off
URxvt.internalBorder:22Rxvt.scrollBar: off
URxvt.intensityStyles: false

! Extensions
URxvt.perl-ext-common:      default,clipboard,keyboard-select,url-select,resize-font,clipboard,url-select,keyboard-select,tabbedex,selection-to-clipboard,config-reload,font-size
URxvt.url-select.launcher:  google-chrome-stable
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.keysym.M-c:           perl:clipboard:copy
URxvt.keysym.M-v:           eval:paste_clipboard
URxvt.keyboard-select.clipboard: true
URxvt.urlLauncher:          xdg-open
URxvt.urlButton: 	          1
URxvt.underlineURLs:        true
URxvt.keysym.C-minus:       resize-font:smaller
URxvt.keysym.C-plus:        resize-font:bigger
URxvt.keysym.C-equal:       resize-font:equal

!URxvt.copyCommand:  xclip -i -selection clipboard
!URxvt.pasteCommand: xclip -o -selection clipboard

URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0

! Fonts
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-plus:  resize-font:bigger
URxvt.resize-font.step: 1

! JetBrainsMono
URxvt.font: xft:JetBrainsMono Nerd Font Mono:style=Medium,Regular:size=12
URxvt.boldFont: xft:JetBrainsMono Nerd Font Mono:style=Bold:size=14
URxvt.italicFont: xft:JetBrainsMono Nerd Font Mono:style=Italic:size=14
URxvt.boldItalicFont: xft:JetBrainsMono Nerd Font Mono:style=Bold Italic:size=14
URxvt.letterSpace: -1

! Catppuccin Latte theme
! special
URxvt.background: #EFF1F5
URxvt.foreground: #4C4F69
URxvt.cursorColor: #DC8A78

! black
URxvt.color0: #5C5F77
URxvt.color8: #6C6F85

! red
URxvt.color1: #D20F39
URxvt.color9: #D20F39

! green
URxvt.color2: #40A02B
URxvt.color10: #40A02B

! yellow
URxvt.color3: #DF8E1D
URxvt.color11: #DF8E1D

! blue
URxvt.color4: #1E66F5
URxvt.color12: #1E66F5

! magenta
URxvt.color5: #EA76CB
URxvt.color13: #EA76CB

! cyan
URxvt.color6: #179299
URxvt.color14: #179299

! white
URxvt.color7: #ACB0BE
URxvt.color15: #BCC0CC

!! URxvt Appearance
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

! Weird ISO thing when i hold ctrl + shift, disabled
URxvt.iso14755: false
URxvt.iso14755_52: false

