Xft.dpi: 115
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.autohint  : false
Xft.hintstyle : hintfull
Xft.lcdfilter : lcddefault
st.font: 				JetBrainsMono Nerd Font:pixelsize=15

Xcursor.size: 24
Xcursor.theme: capitaine-cursors

